<table class="table table-bordered table-striped">
	<tr>
		<th>NIS</th>
		<th>ALUNO</th>
		<%Discipline.all.each do |d|%>
		<th><%=d.name%> (%)</th>
		<%end%>
	</tr>
	<%Student.all.each do |param|%>
	<tr>
		<td><%=param.nis%></td>
		<td><%=param.name%></td>
		<%Discipline.all.each do |d|%>
		<td><%=(100*(Daily.where('student_id=? and discipline_id=? and status=?',param.id,d.id,'p').count))/@totallessons%>%</td>
		<%end%>
	</tr>
	<%end%>
</table>